@charset "utf-8";

@import './modules/reset.scss';

body{
    margin: 0 auto;
    width: 100%; 
    font-family: 'Lato', sans-serif; 
}


//Temporary styling h1,h2
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}

.mainHeader{
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .topNav{
        a{
            color: black;
        }
        .topNavItem{
            list-style: none;
        }
    }
    .fas{
        font-size: 20px;
        color: black;
    }
}



.mainNav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 10px 7px;
        background: rgba(0,0,0,0);
        border-top: solid 1px rgba(0,0,0,.5);

        .mNavItem{
            font-size: 26px; 
            color: black;

        }
    }
    
}

.mediaContainer{

    .scrollList{
        ul{
            display: flex;
            overflow: auto;
            margin-left: 10px;
            margin-right: 15px;
            .scrollItem{
                margin: 10px 5px;
                padding: 30px;

                font-size: 20px;
                color: white;
                background: rgba(0,0,0,1)
            }
        }
        
    }
}