body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(29, 29, 29);
    color: rgb(233, 233, 233);
}

.container{
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.kidIcon{
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 10px;
    font-size: 20px;
}